{% extends 'index.html' %}
{% block content %}
<div id=app>
    <p>RISK TYPE: {{ title }}</p>
	
    
    <ul>
        <li v-for="fld in {{fields}}">
            <h4> [[ fld.name ]]</h4>
			<div v-if="fld.type == 1">
				<div v-if="fld.length < 256">
					<input v-model="field_text" placeholder="text input">
				</div>	
				<div v-else>
					<textarea v-model="field_text" placeholder="add multiple lines"></textarea>
				</div>
			</div>
			<div v-else-if="fld.type == 2">
				<input v-model.number="field_num" type="number" placeholder="number input">
			</div>
			<div v-else-if="fld.type == 3">
				<input type="date" v-model="field_date">
			</div>
			<div v-else>
				<p>available options: [[arr = fld.enum_values.split(';')]] </p>
				<select v-model="field_select">
					<option v-for="option in arr">
						[[ option ]]
					</option>
				</select>
			</div>
		</li>
	</ul>
</div>
<script>
	new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            title1: 'Risktype 1'
        }
    })
</script>
{% endblock %}